doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    include navbar
    include contentBody
    block content
    .container
      .row
        include headingSection
        include headingSection
        include headingSection
    include footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='../../dist/js/bootstrap.min.js')